[project]
	description = API that supports asana integration with pomodoro technique.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eduardo (du2x)
[access "refs/for/refs/*"]
	read = group user/Eduardo (du2x)
	push = group user/Eduardo (du2x)
	label-Code-Review = -2..+2 group user/Eduardo (du2x)
	label-Verified = -1..+1 group user/Eduardo (du2x)
	rebase = group user/Eduardo (du2x)
	removeReviewer = group user/Eduardo (du2x)
	submit = group user/Eduardo (du2x)
[access "refs/heads/*"]
	read = group user/Eduardo (du2x)
	create = group user/Eduardo (du2x)
	push = +force group user/Eduardo (du2x)
	pushMerge = group user/Eduardo (du2x)
[access "refs/tags/*"]
	push = +force group user/Eduardo (du2x)
	pushTag = group user/Eduardo (du2x)
	pushSignedTag = group user/Eduardo (du2x)
